In [301]:
import sklearn
from sklearn import datasets

In [302]:
from sklearn.datasets import load_digits
data = load_digits()

In [303]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [304]:
dataset = pd.DataFrame(data.data,columns = data.feature_names)
dataset.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [305]:
from sklearn.cluster import KMeans

In [306]:
kmeans = KMeans(n_clusters = 10,random_state = 1)
result = kmeans.fit_predict(dataset)

In [307]:
data.target

array([0, 1, 2, ..., 8, 9, 8])

In [308]:
result = pd.DataFrame(result)
original = pd.DataFrame(data.target)

In [309]:
print(result.value_counts())
print(original.value_counts())

1    247
2    221
3    197
5    182
0    179
7    177
9    175
8    165
6    158
4     96
dtype: int64
3    183
1    182
5    182
4    181
6    181
9    180
7    179
0    178
2    177
8    174
dtype: int64

In [310]:
print("mean comparision for original and results: ")
print("original: ",original.mean()[0])
print("result: ", result.mean()[0])
print("     ")
print("     ")
print("std comparision for original and results: ")
print("original: ",original.std()[0])
print("result: ",result.std()[0])

mean comparision for original and results:
original:  4.490818030050083
result:  4.260434056761269


std comparision for original and results:
original:  2.8653037807262285
result:  2.9347124608674937

In [311]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [312]:
vif_data = pd.DataFrame()
vif_data["features"] = dataset.columns
vif_data["VIF value"] = [variance_inflation_factor(dataset.values,i) for i in range(len(dataset.columns))]

C:\Users\RAVI TEJA\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1717: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.uncentered_tss

In [313]:
features_to_be_removed = []

In [314]:
for i in range(len(vif_data)):
    if vif_data["VIF value"][i] > 10:
        print(vif_data.iloc[i])
        features_to_be_removed.append(vif_data["features"][i])

features     pixel_0_2
VIF value    24.348704
Name: 2, dtype: object
features     pixel_0_3
VIF value    36.320437
Name: 3, dtype: object
features     pixel_0_4
VIF value    18.541424
Name: 4, dtype: object
features     pixel_1_2
VIF value    24.303184
Name: 10, dtype: object
features     pixel_1_3
VIF value    25.536011
Name: 11, dtype: object
features     pixel_1_4
VIF value    13.190717
Name: 12, dtype: object
features     pixel_1_5
VIF value    13.223079
Name: 13, dtype: object
features     pixel_2_2
VIF value    14.749985
Name: 18, dtype: object
features     pixel_2_5
VIF value    12.853312
Name: 21, dtype: object
features     pixel_3_2
VIF value    14.193769
Name: 26, dtype: object
features     pixel_3_3
VIF value    11.498769
Name: 27, dtype: object
features     pixel_3_4
VIF value    14.635986
Name: 28, dtype: object
features     pixel_3_5
VIF value    11.642314
Name: 29, dtype: object
features     pixel_4_2
VIF value    13.061279
Name: 34, dtype: object
features     pixel_4_3
VIF value    13.135354
Name: 35, dtype: object
features     pixel_4_4
VIF value    15.597192
Name: 36, dtype: object
features     pixel_4_5
VIF value    12.564462
Name: 37, dtype: object
features     pixel_5_2
VIF value    11.363525
Name: 42, dtype: object
features     pixel_5_4
VIF value    11.473993
Name: 44, dtype: object
features     pixel_5_5
VIF value    11.007218
Name: 45, dtype: object
features     pixel_6_3
VIF value    13.591706
Name: 51, dtype: object
features     pixel_6_4
VIF value    12.725138
Name: 52, dtype: object
features     pixel_6_5
VIF value    13.695499
Name: 53, dtype: object
features     pixel_7_2
VIF value    22.820318
Name: 58, dtype: object
features     pixel_7_3
VIF value    33.655142
Name: 59, dtype: object
features     pixel_7_4
VIF value    26.036806
Name: 60, dtype: object
features     pixel_7_5
VIF value    14.953561
Name: 61, dtype: object

In [315]:
features_to_be_removed

['pixel_0_2',
 'pixel_0_3',
 'pixel_0_4',
 'pixel_1_2',
 'pixel_1_3',
 'pixel_1_4',
 'pixel_1_5',
 'pixel_2_2',
 'pixel_2_5',
 'pixel_3_2',
 'pixel_3_3',
 'pixel_3_4',
 'pixel_3_5',
 'pixel_4_2',
 'pixel_4_3',
 'pixel_4_4',
 'pixel_4_5',
 'pixel_5_2',
 'pixel_5_4',
 'pixel_5_5',
 'pixel_6_3',
 'pixel_6_4',
 'pixel_6_5',
 'pixel_7_2',
 'pixel_7_3',
 'pixel_7_4',
 'pixel_7_5']

In [316]:
dataset_2 = dataset.drop(features_to_be_removed,axis = 1)

In [317]:
kmeans_2 = KMeans(n_clusters = 10,random_state = 1)
result_2 = kmeans_2.fit_predict(dataset_2)

In [318]:
result_2 = pd.DataFrame(result_2)
original = pd.DataFrame(data.target)

In [319]:
print("mean comparision for original and results: ")
print("original: ",original.mean()[0])
print("result: ", result_2.mean()[0])
print("     ")
print("     ")
print("std comparision for original and results: ")
print("original: ",original.std()[0])
print("result: ",result_2.std()[0])

mean comparision for original and results:
original:  4.490818030050083
result:  3.763494713411241


std comparision for original and results:
original:  2.8653037807262285
result:  2.991681605209459

In [320]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 0.95)

In [321]:
dataset_3 = pca.fit_transform(dataset)

In [322]:
dataset_3 = pd.DataFrame(dataset_3)
dataset_3.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,-1.259466,21.274883,-9.463055,13.014189,-7.128823,-7.440659,3.252837,2.553470,-0.581842,3.625697,...,-3.462119,2.680850,1.009450,2.009703,1.295315,1.178879,2.300582,3.670721,-0.943669,-1.132502
1,7.957611,-20.768699,4.439506,-14.893664,5.896249,-6.485622,2.126228,-4.615936,3.587450,-1.074705,...,-5.255708,-1.205777,-4.838902,0.860251,-2.974439,5.288817,0.119213,2.182618,-0.510227,2.313549
2,6.991923,-9.955986,2.958558,-12.288302,-18.126023,-4.507664,1.843122,-16.415200,0.719233,4.255805,...,8.731076,4.951115,-2.465109,5.999388,0.105727,-3.062671,0.166046,4.228821,2.157657,0.837958
3,-15.906105,3.332464,9.824372,-12.275838,6.965169,1.089483,-1.042085,10.973556,-3.259735,6.498753,...,-3.876889,0.269413,3.623236,2.538124,-1.354896,-1.740973,-1.340244,-5.846014,4.682220,-1.113042
4,23.306867,4.269061,-5.675129,-13.851524,-0.358124,-2.857574,-0.720497,13.041696,-3.835413,13.414164,...,5.035236,0.206830,5.740696,-7.611946,3.991408,2.781007,-0.166739,0.484305,0.627979,-3.287348

In [323]:
kmeans_3 = KMeans(n_clusters = 10,random_state = 1)
result_3 = kmeans_3.fit_predict(dataset_3)

In [324]:
print("mean comparision for original and results: ")
print("original: ",original.mean()[0])
print("result: ", result_3.mean())
print("     ")
print("     ")
print("std comparision for original and results: ")
print("original: ",original.std()[0])
print("result: ",result_3.std())

mean comparision for original and results:
original:  4.490818030050083
result:  4.510294936004452


std comparision for original and results:
original:  2.8653037807262285
result:  2.8526276382985207

In [325]:
pca = PCA(n_components = 0.90)
dataset_4 = pca.fit_transform(dataset)
dataset_4 = pd.DataFrame(dataset_4)
dataset_4.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,-1.259466,21.274883,-9.463055,13.014189,-7.128823,-7.440659,3.252837,2.553470,-0.581842,3.625697,...,1.551607,0.854497,-3.338749,5.906590,2.743593,0.419837,-0.898150,0.702611,-3.462119,2.680850
1,7.957611,-20.768699,4.439506,-14.893664,5.896249,-6.485622,2.126228,-4.615936,3.587450,-1.074705,...,-2.129511,-2.555324,-6.516996,-2.291764,-2.134027,-5.839357,4.478446,-1.955703,-5.255708,-1.205777
2,6.991923,-9.955986,2.958558,-12.288302,-18.126023,-4.507664,1.843122,-16.415200,0.719233,4.255805,...,-0.383791,0.208885,6.841040,-1.679690,-4.276003,6.728485,1.269848,0.184780,8.731076,4.951115
3,-15.906105,3.332464,9.824372,-12.275838,6.965169,1.089483,-1.042085,10.973556,-3.259735,6.498753,...,2.396152,2.653396,-4.538297,0.798339,1.646645,-2.249089,-1.403457,3.068280,-3.876889,0.269413
4,23.306867,4.269061,-5.675129,-13.851524,-0.358124,-2.857574,-0.720497,13.041696,-3.835413,13.414164,...,-1.755831,-5.285637,1.515267,-0.666908,-6.412871,-9.514895,-1.975814,-3.065115,5.035236,0.206830

In [326]:
kmeans_4 = KMeans(n_clusters = 10,random_state = 1)
result_4 = kmeans_3.fit_predict(dataset_4)
result_4 = pd.DataFrame(result_4)

In [327]:
print("mean comparision for original and results: ")
print("original: ",original.mean()[0])
print("result: ", result_4.mean()[0])
print("     ")
print("     ")
print("std comparision for original and results: ")
print("original: ",original.std()[0])
print("result: ",result_4.std()[0])

mean comparision for original and results:
original:  4.490818030050083
result:  4.28881469115192


std comparision for original and results:
original:  2.8653037807262285
result:  2.967258711742572

In [328]:
pca = PCA(n_components = 0.85)
dataset_5 = pca.fit_transform(dataset)
dataset_5 = pd.DataFrame(dataset_5)
dataset_5.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-1.259466,21.274883,-9.463055,13.014189,-7.128823,-7.440659,3.252837,2.553470,-0.581842,3.625697,2.585957,1.551607,0.854497,-3.338749,5.906590,2.743593,0.419837
1,7.957611,-20.768699,4.439506,-14.893664,5.896249,-6.485622,2.126228,-4.615936,3.587450,-1.074705,-5.385715,-2.129511,-2.555324,-6.516996,-2.291764,-2.134027,-5.839357
2,6.991923,-9.955986,2.958558,-12.288302,-18.126023,-4.507664,1.843122,-16.415200,0.719233,4.255805,-1.233374,-0.383791,0.208885,6.841040,-1.679690,-4.276003,6.728485
3,-15.906105,3.332464,9.824372,-12.275838,6.965169,1.089483,-1.042085,10.973556,-3.259735,6.498753,-5.066853,2.396152,2.653396,-4.538297,0.798339,1.646645,-2.249089
4,23.306867,4.269061,-5.675129,-13.851524,-0.358124,-2.857574,-0.720497,13.041696,-3.835413,13.414164,2.673319,-1.755831,-5.285637,1.515267,-0.666908,-6.412871,-9.514895

In [329]:
kmeans_5 = KMeans(n_clusters = 10,random_state = 1)
result_5 = kmeans_5.fit_predict(dataset_5)
result_5 = pd.DataFrame(result_5)

In [330]:
print("mean comparision for original and results: ")
print("original: ",original.mean()[0])
print("result: ", result_5.mean()[0])
print("     ")
print("     ")
print("std comparision for original and results: ")
print("original: ",original.std()[0])
print("result: ",result_5.std()[0])

mean comparision for original and results:
original:  4.490818030050083
result:  4.417362270450751


std comparision for original and results:
original:  2.8653037807262285
result:  2.9495553152025824

In [331]:
dataset_6 = dataset_2.copy()
pca = PCA(n_components = 0.85)
dataset_6 = pca.fit_transform(dataset_6)
dataset_6 = pd.DataFrame(dataset_6)
dataset_6.head()

,0,1,2,3,4,5,6,7,8
0,4.036778,12.048055,8.813236,-1.371771,7.953529,1.360888,-2.598044,4.434773,1.306612
1,-2.571269,-16.375083,-1.063872,3.689534,-0.519323,-3.997734,2.360256,-2.162307,-1.160534
2,-5.326157,-8.808436,1.092252,-3.883815,-2.921054,8.953117,-0.169836,-2.584468,1.476448
3,-8.362522,2.737066,-5.804192,8.943943,2.364590,0.480727,1.502390,-2.144206,0.063070
4,-0.670144,-10.367775,10.787926,2.306082,-1.057848,-6.187313,-2.451449,1.947607,-0.431239

In [332]:
kmeans_6 = KMeans(n_clusters = 10,random_state = 1)
result_6 = kmeans_6.fit_predict(dataset_6)
result_6 = pd.DataFrame(result_6)

In [333]:
print("mean comparision for original and results: ")
print("original: ",original.mean()[0])
print("result: ", result_6.mean()[0])
print("     ")
print("     ")
print("std comparision for original and results: ")
print("original: ",original.std()[0])
print("result: ",result_6.std()[0])

mean comparision for original and results:
original:  4.490818030050083
result:  4.329994435169727


std comparision for original and results:
original:  2.8653037807262285
result:  2.8493457714247294

In [334]:
dataset_7 = dataset_2.copy()
pca = PCA(n_components = 0.90)
dataset_7 = pca.fit_transform(dataset_7)
dataset_7 = pd.DataFrame(dataset_7)
dataset_7.head()

,0,1,2,3,4,5,6,7,8,9,10
0,4.036778,12.048055,8.813236,-1.371771,7.953529,1.360888,-2.598044,4.434773,1.306612,2.058923,0.701194
1,-2.571269,-16.375083,-1.063872,3.689534,-0.519323,-3.997734,2.360256,-2.162307,-1.160534,1.095831,0.270937
2,-5.326157,-8.808436,1.092252,-3.883815,-2.921054,8.953117,-0.169836,-2.584468,1.476448,-8.893979,-2.592031
3,-8.362522,2.737066,-5.804192,8.943943,2.364590,0.480727,1.502390,-2.144206,0.063070,5.640268,1.481667
4,-0.670144,-10.367775,10.787926,2.306082,-1.057848,-6.187313,-2.451449,1.947607,-0.431239,1.830869,-3.210054

In [335]:
kmeans_7 = KMeans(n_clusters = 10,random_state = 1)
result_7 = kmeans_7.fit_predict(dataset_7)
result_7 = pd.DataFrame(result_7)

In [336]:
print("mean comparision for original and results: ")
print("original: ",original.mean()[0])
print("result: ", result_7.mean()[0])
print("     ")
print("     ")
print("std comparision for original and results: ")
print("original: ",original.std()[0])
print("result: ",result_7.std()[0])

mean comparision for original and results:
original:  4.490818030050083
result:  4.384529771841959


std comparision for original and results:
original:  2.8653037807262285
result:  3.016961140853763

In [337]:
dataset_8 = dataset_2.copy()
pca = PCA(n_components = 0.95)
dataset_8 = pca.fit_transform(dataset_8)
dataset_8 = pd.DataFrame(dataset_8)
dataset_8.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,4.036778,12.048055,8.813236,-1.371771,7.953529,1.360888,-2.598044,4.434773,1.306612,2.058923,0.701194,-0.707793,1.339284,-2.959078
1,-2.571269,-16.375083,-1.063872,3.689534,-0.519323,-3.997734,2.360256,-2.162307,-1.160534,1.095831,0.270937,-4.364866,-1.052940,-0.163124
2,-5.326157,-8.808436,1.092252,-3.883815,-2.921054,8.953117,-0.169836,-2.584468,1.476448,-8.893979,-2.592031,2.863260,-2.098698,-2.940111
3,-8.362522,2.737066,-5.804192,8.943943,2.364590,0.480727,1.502390,-2.144206,0.063070,5.640268,1.481667,3.828213,-1.498608,2.419659
4,-0.670144,-10.367775,10.787926,2.306082,-1.057848,-6.187313,-2.451449,1.947607,-0.431239,1.830869,-3.210054,2.521121,1.301611,1.073363

In [338]:
kmeans_8 = KMeans(n_clusters = 10,random_state = 1)
result_8 = kmeans_8.fit_predict(dataset_8)
result_8 = pd.DataFrame(result_8)

In [339]:
print("mean comparision for original and results: ")
print("original: ",original.mean()[0])
print("result: ", result_7.mean()[0])
print("     ")
print("     ")
print("std comparision for original and results: ")
print("original: ",original.std()[0])
print("result: ",result_7.std()[0])

mean comparision for original and results:
original:  4.490818030050083
result:  4.384529771841959


std comparision for original and results:
original:  2.8653037807262285
result:  3.016961140853763

In [340]:
print("mean comparision for original and results: ")
print("original: ",original.mean()[0])
print("result 1: ", result.mean()[0])
print("result 2: ", result_2.mean()[0])
print("result 3: ", result_3.mean())
print("result 4: ", result_4.mean()[0])
print("result 5: ", result_5.mean()[0])
print("result 6: ", result_6.mean()[0])
print("result 7: ", result_7.mean()[0])
print("result 8: ", result_8.mean()[0])
print("     ")
print("     ")
print("std comparision for original and results: ")
print("original: ",original.std()[0])
print("result 1: ", result.std()[0])
print("result 2: ", result_2.std()[0])
print("result 3: ", result_3.std())
print("result 4: ", result_4.std()[0])
print("result 5: ", result_5.std()[0])
print("result 6: ", result_6.std()[0])
print("result 7: ", result_7.std()[0])
print("result 8: ", result_8.std()[0])

mean comparision for original and results:
original:  4.490818030050083
result 1:  4.260434056761269
result 2:  3.763494713411241
result 3:  4.510294936004452
result 4:  4.28881469115192
result 5:  4.417362270450751
result 6:  4.329994435169727
result 7:  4.384529771841959
result 8:  3.8163606010016693


std comparision for original and results:
original:  2.8653037807262285
result 1:  2.9347124608674937
result 2:  2.991681605209459
result 3:  2.8526276382985207
result 4:  2.967258711742572
result 5:  2.9495553152025824
result 6:  2.8493457714247294
result 7:  3.016961140853763
result 8:  2.701912936791531

In [341]:
result_3 = pd.DataFrame(result_3)

In [342]:
print(result_3.value_counts())
print(original.value_counts())

1    244
3    222
4    202
9    182
7    180
5    179
8    176
6    168
0    155
2     89
dtype: int64
3    183
1    182
5    182
4    181
6    181
9    180
7    179
0    178
2    177
8    174
dtype: int64

#### By clustering using variations of dataset by pca and vif we ended up with the above results